.cb {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 30px;
  margin: 0;
  position: relative;
  width: 45px;
}

.cb::before {
  bottom: -6px;
  content: '';
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.cb,
.cb::after {
  transition: all 100ms ease-out;
}

.cb::after {
  background-color: #fff;
  border-radius: 50%;
  content: '';
  height: 21px;
  left: 4.5px;
  position: absolute;
  top: 4.5px;
  width: 21px;
}

.cb:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.cb:checked {
  background-color: #6e79d6;
}

.cb:checked::after {
  background-color: #fff;
  left: 19.5px;
}

.cb:checked:hover {
  background-color: #535db3;
}
