<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #363636;
        color: #fff
      }
      .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
      }
      .option-item {
        background-color: #717171;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 10px;
      }
      .option-item label {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="option-item">
        <label for="directWatchPageLink">Try to find the direct watch page link</label>
        <input type="checkbox" id="directWatchPageLink" name="directWatchPageLink" />
      </div>
    </div>

    <script src="../scripts/options.js"></script>
  </body>
</html>
